@tailwind base;
@tailwind components;
@tailwind utilities;


/* flicking buttons */
@keyframes flicker {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

.animate-flicker {
  animation: flicker 1.5s infinite;
}

/* humburger */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #f4f5f7;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #d2d4df;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(201, 30, 30, 0.3);
}

/* font for burger items */
.menu-item {
  color: aqua;
  font-size: 2.5rem;
  border: #f4f5f7 solid 4px;
  padding: 10px;
}


/* toddle switch for dark and light mode */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: background-color 0.4s;
  border-radius: 20px; /* Adjusted to half of the height to make it a circle */
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px; /* Adjusted to fit within the slider */
  width: 16px; /* Adjusted to fit within the slider */
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: transform 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 20px; /* Adjusted to half of the height to make it a circle */
}

.slider.round:before {
  border-radius: 50%;
}

/* 



*/


/* Home page slider*/

.home {
  position: relative;
  overflow: hidden;
}

.slider-image {
  width:100%;
  height: 100vh; /* Fills the viewport height */
  object-fit:contain; /* Ensures the image covers the entire slide */
}

.action-button {
  position: absolute;
  bottom: 20px; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
}

.action-button button {
  background-color: red;
  color: white;
  font-weight: bold;
  padding: 16px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.action-button button:hover {
  background-color: green;
}

.action-button button svg {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 0.5rem;
}


/* Questions Component styles */

.faq-container {
  width: 100%;
  max-width: 600px; /* Adjust max-width as needed */
  margin: 0 auto;
  padding: 20px;
}

.faq-item {
  margin-bottom: 20px;
}

.faq-question {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f0f0f0; /* Change background color as desired */
  padding: 15px;
  border-radius: 5px;
}

.faq-question:hover {
  background-color: #e0e0e0; /* Change hover background color as desired */
}

.faq-answer {
  padding: 10px;
  background-color: #ffffff; /* Change background color as desired */
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
}

/* style - answers in Q&A */

.answer-list {
  list-style-type: disc; /* Use disc for bullet marks */
  padding-left: 20px; /* Add padding for indentation */
}

.answer-list li {
  margin-bottom: 10px; /* Add bottom margin for gaps between list items */
}
