@tailwind base;
@tailwind components;
@tailwind utilities;


/* flicking buttons */
@keyframes flicker {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

.animate-flicker {
  animation: flicker 1.5s infinite;
}
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* NAVBAR */
/* Navbar container */
.navbar {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Navbar brand/logo */
.navbar-logo {
  font-size: 1.5rem;
  text-decoration: none;
  color: #fff;
}

/* Navbar toggle button */
.navbar-toggle {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 2.5rem;
  color: #fff;
}

/* Menu items */
.menu-item {
  display:block;
  padding: 2.5rem;
  text-decoration: none;
  color: #fff;
}

/* Styling for the clicked menu item */
.clicked {
  background-color: #555;
}

/* Submenu styling */
.submenu {
  padding-left: 20px;
}

/* Ref number */
.menu-item mt-8 {
  color: #fff;
  margin-top: 8px;
}

/* Aqua text color */
.text-aqua {
  color: aqua;
}
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* TOGGLE SWITCH for dark and light mode */
.switch-container {
  position: fixed;
  top: 60px; /* Adjust top position as needed */
  right: 20px; /* Adjust left position for desired distance from the left edge */
  z-index: 1000; /* Ensure it appears above other content */
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Customize the appearance of the switch */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 20px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 20px; /* Adjusted to half of the height to make it a circle */
}

.slider.round:before {
  border-radius: 50%;
}

/* Home page slider*/

.home {
  position: relative;
  overflow: hidden;
  margin-top: 80px;
}

.slider-image {
  width:100%;
  height: 100vh; /* Fills the viewport height */
  object-fit:contain; /* Ensures the image covers the entire slide */
}

/* /////////////////////////////////////////////////////////////////////////////////// */

.action-button {
  position: absolute;
  bottom: 20px; 
  left: 50%;
  transform: translateX(-50%);
}

.action-button button {
  background-color: red;
  color: white;
  font-weight: bold;
  padding: 16px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.action-button button:hover {
  background-color: green;
}

.action-button button svg {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 0.5rem;
}

/* /////////////////////////////////////////////////////////////////////////// */
/* Questions Component styles */

.faq-container {
  width: 100%;
  max-width: 600px; /* Adjust max-width as needed */
  margin: 0 auto;
  padding: 20px;
}

.faq-item {
  margin-bottom: 20px;
}

.faq-question {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f0f0f0; /* Change background color as desired */
  padding: 15px;
  border-radius: 5px;
}

.faq-question:hover {
  background-color: #e0e0e0; /* Change hover background color as desired */
}

.faq-answer {
  padding: 10px;
  background-color: #ffffff; /* Change background color as desired */
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
}

/* style - answers in Q&A */

.answer-list {
  list-style-type: disc; /* Use disc for bullet marks */
  padding-left: 20px; /* Add padding for indentation */
}

.answer-list li {
  margin-bottom: 10px; /* Add bottom margin for gaps between list items */
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////// */

/* hover on clicked item of slider */
.menu-item {
  display: block;
  padding: 10px 20px;
  color: aqua;
  text-decoration: none;
  transition: background-color 10.3s ease;
}

.menu-item:hover {
  background-color: #f0f0f0;
}

.clicked {
  /* background-color: red; Change to the color you want when an item is clicked */
  color: white; /* Change to the text color you want when an item is clicked */
}

/* ////////////////////////////////////////////////////////////////////////////////////////// */

/* WEATHER ICON */
.weather-info {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  z-index: 2;
}

/* /////////////////////////////////////////////////////////////////////////////////////// */

/* IMAGES FOR GALLERY */
/* Gallery container */

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Evenly distribute items */
  padding: 20px; /* Add padding around the gallery */
}

.thumbnail-image {
  width: 200px; /* Set initial width */
  height: auto; /* Maintain aspect ratio */
  margin: 10px; /* Add margin between images */
  transition: transform 0.3s ease; /* Smooth transition for transform property */
}

.thumbnail-image:hover,
.thumbnail-image:active {
  transform: scale(1.2); /* Enlarge the image on hover or click */
  cursor: pointer; /* Show pointer cursor on hover */
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////// */

/* NAVBAR-LINKS */

.menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Transparent background */
  width: 80%; /* Adjust as needed */
  z-index: 9999;
  overflow-y: auto;
}

.menu-item {
  display: block;
  padding: 20px;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.menu-item:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Hover color */
}

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Transparent background */
  z-index: 9998;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333; /* Navbar background color */
  z-index: 1000; /* Ensure navbar stays on top */
  transition: background-color 0.3s ease; /* Smooth transition */
}

.navbar.open {
  background-color: transparent; /* Transparent background when menu is open */
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////// */

/* FIXED PAGES */
.app-container {
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////// */

/* FOOTER */
.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-links li {
  display: inline-block;
  margin-right: 8px;
}

.footer-links li:last-child {
  margin-right: 0;
}

.footer-links a {
  color: #fff;
}

 .footer-menu {
  font-size: 8px;
  text-decoration: underline;
}
.contact-info{
  font-size: 8px;
}

.address {
  margin-top: 10px;
}

.logo {
  width: 100px;
}

.social-icons {
  display: flex;
  justify-content:center;
  list-style-type: none;
  margin: 0;
  padding: 10px;
}

.social-icons li {
  margin-right: 10px;
}

.social-icons li:last-child {
  margin-right: 0;
}

.social-icons a {
  color: #fff;
  text-decoration: none;
}

/* //////////////////////////////////////////////////////////////////////////////////////////// */